[data-type="imath/section"].is-selected .imath-section,
[data-type="imath/section"].has-child-selected .imath-section {
  outline-width: 3px;
  outline-style: dashed;
  outline-offset: 15px;
  outline-color: rgba(145,151,162,.25);
}